<div>
  <div>
    <div *ngIf="selected">
      <app-trainer-detail
        [trainerDetail]="selectedTrainer"
      ></app-trainer-detail>
    </div>
    <table>
      <thead>
        <tr>
          <th class="h4">Trainer's Name</th>
          <th class="h4">Trainer's Image</th>
          <th class="h4">Trainer's Small Snapshot</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let trainer of trainers"
          class="row-table"
          routerLink="/trainers/{{trainer.id}}"
        >
          <td>
            <dd>{{ trainer.name }}</dd>
          </td>
          <td>
            <img
              [src]="trainer.imageUrl"
              alt="Trainer's Image"
              class="img-thumbnail"
            />
          </td>
          <td>
            <dd>{{ trainer.smallSnopsies }}</dd>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" style="text-align: center; font-weight: bold;">
            Pokemones {{ numeroPokemones() }}
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
